<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0f0f0f">
    <meta name="author" content="Bjoern Pfoster">
    <meta name="description" content="A slim application template. If you see this, you made something wrong">
    <meta name="keywords" content="Slim, Application, template, D4rkmindz">
    <meta name="robots" content="follow, index">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <base href="{{ base_url() }}/">
    <base name="xhr-baseurl" href="{{ path_for('root', { 'language': language }) }}">
    <link rel="canonical" href="{{ path_for('root') }}"/>
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="js/mustache.min.js"></script>
    <script type="application/javascript" src="js/script.js"></script>

    <title>{{ page }}</title>
    {% block assets %}  {% endblock %}
</head>
<body>
<nav>
    <ul class="container nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path_for('root', { 'language': language }) }}">{{ __('Home') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path_for('login', { 'language': language }) }}">{{ __('Login') }}</a>
        </li>
        {% if is_logged_in %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path_for('users', { 'language': language }) }}">{{ __('Users') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path_for('mail', { 'language': language }) }}">{{ __('Mail') }}</a>
        </li>
        {% endif %}
    </ul>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<div id="loader">
    <div id="loading"></div>
</div>

</body>
</html>